@tailwind base;
@tailwind components;
@tailwind utilities;

.state-select-list--show {
    visibility: visible;
    opacity: 1;
    top: calc(100% + 0.75rem);
}

.state-select-list__search {
    background-color: #111111; /* --clr-background */
    transition: all 0.2s linear; /* --transition */
    color: #F5F5F5; /* --clr-font */
    padding: 1.6rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    width: 100%;
    font-family: "Cairo", sans-serif; /* --ff */
    font-size: 1.6rem; /* --ts-normal-text */
    font-weight: 400; /* --ts-normal-text */
    line-height: 1.4; /* --ts-normal-text */
    box-shadow: 5px 5px 30px 0 rgba(221, 221, 221, 5%); /* --shadow-card */
}

.state-select-list__search::placeholder {
    color: #F5F5F5; /* --clr-font */
    opacity: 0.6;
    transition: all 0.2s linear; /* --transition */
}

.state-select-list__item {
    padding: 1.6rem;
    color: #C2C2FF; /* --clr-link */
    cursor: pointer;
    font-family: "Cairo", sans-serif; /* --ff */
    font-size: 1.6rem; /* --ts-normal-text */
    transition: all 0.2s linear; /* --transition */
}

.state-select-list__item:hover {
    color: #1A1A1A; /* --clr-card */
    background-color: #C2C2FF; /* --clr-link */
}

.state-select-list__item--hide {
    display: none;
}
